* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
body {
    background-color: white;
}
body, input, button, textarea {
    font-family: Tahoma;
    font-size: 13px;
}
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
main {
    width: 95%;
    margin: auto;
}
main h1 {
    margin-top: 25px;
}
section {
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    text-align: center;
    max-width: 100%;
    min-width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
/* queue */
.queue {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
.queue-item {
    width: 100px;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}
